In [ ]:
import pandas as pd
import numpy as np

# 2016 - 2017

The available data for season 2016/20 and 2017/2018 did come in separate files for each gameweeks while 2018/2019 and 2019/2020 were already merged.

In [ ]:

all_game_weeks_list_2016_2017 = []

#Ierate through each file in the gw-folder to merge all gw to a whole season. 
for i in range(38):
  gw = i + 1
  all_game_weeks_list_2016_2017.append(
      pd.read_csv(f'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2016-17/gws/gw{gw}.csv', encoding = "ISO-8859-1")
  )

#Display example of first 5 players
display(all_game_weeks_list_2016_2017[0].head())
print('Number of gameweeks: ', len(all_game_weeks_list_2016_2017))

                 name  assists  ...  winning_goals  yellow_cards
0     Aaron_Cresswell        0  ...              0             0
1        Aaron_Lennon        0  ...              0             0
2        Aaron_Ramsey        0  ...              0             0
3  Abdoulaye_Doucouré        0  ...              0             0
4   Abdul Rahman_Baba        0  ...              0             0

[5 rows x 55 columns]

Number of gameweeks:  38

In [ ]:
#Add gameweek number column GW
for i in range(38):
  all_game_weeks_list_2016_2017[i]["GW"] = i+1

#Display examples of first and last gameweeks.
display(all_game_weeks_list_2016_2017[0].head(3))
display(all_game_weeks_list_2016_2017[37].head(3))

              name  assists  attempted_passes  ...  winning_goals  yellow_cards  GW
0  Aaron_Cresswell        0                 0  ...              0             0   1
1     Aaron_Lennon        0                 3  ...              0             0   1
2     Aaron_Ramsey        0                26  ...              0             0   1

[3 rows x 56 columns]

              name  assists  attempted_passes  ...  winning_goals  yellow_cards  GW
0  Aaron_Cresswell        0                30  ...              0             0  38
1     Aaron_Lennon        0                 0  ...              0             0  38
2   Aaron_Ramsdale        0                 0  ...              0             0  38

[3 rows x 56 columns]

In [ ]:
#Create one large dataframe for the whole season
season_2016_2017 = pd.concat(all_game_weeks_list_2016_2017) 

print('Totalt rows from 2016/2017 season: ', len(season_2016_2017))

Totalt rows from 2016/2017 season:  23679

We merged our  16/17 mastertable with the *player_raw* datasets to add team and position for each player.

In [ ]:
#Read players_raw
players_16_17 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2016-17/players_raw.csv')

#Change name of "id" and "element_type" to the more intuitive "player_id" and "position"
players_16_17["player_id"] = players_16_17["id"]
players_16_17["position"] = players_16_17["element_type"]

#Merge datasets
season_2016_2017 = pd.merge(season_2016_2017, players_16_17[["player_id", "team","position"]], how="left", left_on="element", right_on="player_id")

#Display first rows
season_2016_2017.head()

                 name  assists  attempted_passes  ...  player_id  team  position
0     Aaron_Cresswell        0                 0  ...        454    20         2
1        Aaron_Lennon        0                 3  ...        142     6         3
2        Aaron_Ramsey        0                26  ...         16     1         3
3  Abdoulaye_Doucouré        0                 0  ...        482    18         3
4   Abdul Rahman_Baba        0                 0  ...         80     4         2

[5 rows x 59 columns]

In [ ]:
# Select only relevant columns for our models
season_2016_2017 = season_2016_2017[["name","position","player_id", "team", "GW", "opponent_team", "was_home", "minutes", "bps", "ict_index", "selected", "transfers_balance", "total_points","goals_scored","assists","clean_sheets","goals_conceded","influence","creativity","threat"]]

# Change boolean was_home to integer
season_2016_2017["was_home"] = season_2016_2017["was_home"].astype(int)

#Display first rows
season_2016_2017.head(5)

                 name  position  player_id  ...  influence  creativity  threat
0     Aaron_Cresswell         2        454  ...        0.0         0.0     0.0
1        Aaron_Lennon         3        142  ...        8.2         0.3     0.0
2        Aaron_Ramsey         3         16  ...        2.2         4.9    23.0
3  Abdoulaye_Doucouré         3        482  ...        0.0         0.0     0.0
4   Abdul Rahman_Baba         2         80  ...        0.0         0.0     0.0

[5 rows x 20 columns]

In [ ]:
#Display summary of dataset
season_2016_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23679 entries, 0 to 23678
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               23679 non-null  object
 1   position           23679 non-null  int64
 2   player_id          23679 non-null  int64
 3   team               23679 non-null  int64
 4   GW                 23679 non-null  int64
 5   opponent_team      23679 non-null  int64
 6   was_home           23679 non-null  int64
 7   minutes            23679 non-null  int64
 8   bps                23679 non-null  int64
 9   ict_index          23679 non-null  float64
 10  selected           23679 non-null  int64
 11  transfers_balance  23679 non-null  int64
 12  total_points       23679 non-null  int64
 13  goals_scored       23679 non-null  int64
 14  assists            23679 non-null  int64
 15  clean_sheets       23679 non-null  int64
 16  goals_conceded     23679 non-null  int64
 17  influence          23679 non-null  float64
 18  creativity         23679 non-null  float64
 19  threat             23679 non-null  float64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.8+ MB

The season_2016_2017 dataset is now ready for data manipulation.

# 2017 - 2018 (Same procedure as for 16-17)

In [ ]:
# Put all separate gameweeks into one list 
all_game_weeks_list_2017_2018 = []
for i in range(38):
  gw = i + 1
  all_game_weeks_list_2017_2018.append(
      pd.read_csv(f'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2017-18/gws/gw{gw}.csv', encoding = "ISO-8859-1")
  )

# Add GW column
for i in range(38):
  all_game_weeks_list_2017_2018[i]["GW"] = i+1

# Create large dataframe for whole season
season_2017_2018 = pd.concat(all_game_weeks_list_2017_2018)

# Merge with players_raw to add position and team
players_17_18 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2017-18/players_raw.csv')
players_17_18["player_id"] = players_17_18["id"]
players_17_18["position"] = players_17_18["element_type"]
season_2017_2018 = pd.merge(season_2017_2018, players_17_18[["player_id", "team","position"]], how="left", left_on="element", right_on="player_id")

# Select relevant columns
season_2017_2018 = season_2017_2018[["name","position","player_id", "team", "GW", "opponent_team", "was_home", "minutes", "bps", "ict_index", "selected", "transfers_balance", "total_points","goals_scored","assists","clean_sheets","goals_conceded","influence","creativity","threat"]]

# Boolean was_home to integer
season_2017_2018["was_home"] = season_2017_2018["was_home"].astype(int)

#Display first rows
display(season_2017_2018.head(5))

                 name  position  player_id  ...  influence  creativity  threat
0     Aaron_Cresswell         2        443  ...        0.4         0.6    18.0
1        Aaron_Lennon         3        153  ...        0.0         0.0     0.0
2          Aaron_Mooy         3        172  ...       40.2        46.9     0.0
3        Aaron_Ramsey         3         18  ...       29.6        11.2    26.0
4  Abdoulaye_Doucouré         3        414  ...       48.6        25.2    35.0

[5 rows x 20 columns]

In [ ]:
#Display summary of dataset
season_2017_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22467 entries, 0 to 22466
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               22467 non-null  object
 1   position           22467 non-null  int64
 2   player_id          22467 non-null  int64
 3   team               22467 non-null  int64
 4   GW                 22467 non-null  int64
 5   opponent_team      22467 non-null  int64
 6   was_home           22467 non-null  int64
 7   minutes            22467 non-null  int64
 8   bps                22467 non-null  int64
 9   ict_index          22467 non-null  float64
 10  selected           22467 non-null  int64
 11  transfers_balance  22467 non-null  int64
 12  total_points       22467 non-null  int64
 13  goals_scored       22467 non-null  int64
 14  assists            22467 non-null  int64
 15  clean_sheets       22467 non-null  int64
 16  goals_conceded     22467 non-null  int64
 17  influence          22467 non-null  float64
 18  creativity         22467 non-null  float64
 19  threat             22467 non-null  float64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.6+ MB

Dataset 2017/2018 is now ready for data manipulation.

# 2018 - 2019

Both season 2018/2019 and 2019/2020 had already merged gameweeks so we skip the first step from the two previous seasons.

In [ ]:
# Read whole season
season_2018_2019 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2018-19/gws/merged_gw.csv', encoding = "ISO-8859-1")

# Merge with players_raw to get position and team
players_18_19 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2018-19/players_raw.csv')
players_18_19["player_id"] = players_18_19["id"]
players_18_19["position"] = players_18_19["element_type"]
season_2018_2019 = pd.merge(season_2018_2019, players_18_19[["player_id", "team","position"]], how="left", left_on="element", right_on="player_id")

# Select relevant columns
season_2018_2019 = season_2018_2019[["name","position","player_id", "team", "GW", "opponent_team", "was_home", "minutes", "bps", "ict_index", "selected", "transfers_balance", "total_points","goals_scored","assists","clean_sheets","goals_conceded","influence","creativity","threat"]]

# Change was_home 
season_2018_2019["was_home"] = season_2018_2019["was_home"].astype(int)

#Display first rows
display(season_2018_2019.head(5))

                    name  position  player_id  ...  influence  creativity  threat
0    Aaron_Cresswell_402         2        402  ...        0.0         0.0     0.0
1        Aaron_Lennon_83         3         83  ...       10.0        12.3    17.0
2         Aaron_Mooy_199         3        199  ...       20.2        18.2     0.0
3        Aaron_Ramsey_14         3         14  ...        9.4        10.8     9.0
4  Aaron_Wan-Bissaka_145         2        145  ...       46.0        14.0     0.0

[5 rows x 20 columns]

In [ ]:
#Display summary of dataset
season_2018_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21790 entries, 0 to 21789
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               21790 non-null  object
 1   position           21790 non-null  int64
 2   player_id          21790 non-null  int64
 3   team               21790 non-null  int64
 4   GW                 21790 non-null  int64
 5   opponent_team      21790 non-null  int64
 6   was_home           21790 non-null  int64
 7   minutes            21790 non-null  int64
 8   bps                21790 non-null  int64
 9   ict_index          21790 non-null  float64
 10  selected           21790 non-null  int64
 11  transfers_balance  21790 non-null  int64
 12  total_points       21790 non-null  int64
 13  goals_scored       21790 non-null  int64
 14  assists            21790 non-null  int64
 15  clean_sheets       21790 non-null  int64
 16  goals_conceded     21790 non-null  int64
 17  influence          21790 non-null  float64
 18  creativity         21790 non-null  float64
 19  threat             21790 non-null  float64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.5+ MB

Dataset season_2018_2019 is now ready for data manipulation

# 2019 - 2020

In [ ]:
# Same procedure as previous season

# Read all gameweeks
season_2019_2020 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2019-20/gws/merged_gw.csv', encoding = "ISO-8859-1")

# Merge with players_raw to get position and team
players_19_20 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2019-20/players_raw.csv')
players_19_20["player_id"] = players_19_20["id"]
players_19_20["position"] = players_19_20["element_type"]
season_2019_2020 = pd.merge(season_2019_2020, players_19_20[["player_id", "team","position"]], how="left", left_on="element", right_on="player_id")

# Select relevant columns
season_2019_2020 = season_2019_2020[["name","position","player_id", "team", "GW", "opponent_team", "was_home", "minutes", "bps", "ict_index", "selected", "transfers_balance", "total_points","goals_scored","assists","clean_sheets","goals_conceded","influence","creativity","threat"]]

# Adjust gw39-gw47 to gw30-gw38 because of Corona-break.
season_2019_2020["GW"] = season_2019_2020["GW"].apply(lambda e: e if e <= 29 else e - 9)

#Change was_home to int
season_2019_2020["was_home"] = season_2019_2020["was_home"].astype(int)

#Display first rows
display(season_2019_2020.head(5))

                    name  position  player_id  ...  influence  creativity  threat
0    Aaron_Cresswell_376         2        376  ...        9.0         1.5     0.0
1       Aaron_Lennon_430         3        430  ...        2.0         0.0     0.0
2         Aaron_Mooy_516         3        516  ...        0.0         0.0     0.0
3     Aaron_Ramsdale_494         1        494  ...        9.8         0.0     0.0
4  Aaron_Wan-Bissaka_122         2        122  ...       30.4        16.1     2.0

[5 rows x 20 columns]

In [ ]:
#Display summary of dataset
season_2019_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22560 entries, 0 to 22559
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               22560 non-null  object
 1   position           22560 non-null  int64
 2   player_id          22560 non-null  int64
 3   team               22560 non-null  int64
 4   GW                 22560 non-null  int64
 5   opponent_team      22560 non-null  int64
 6   was_home           22560 non-null  int64
 7   minutes            22560 non-null  int64
 8   bps                22560 non-null  int64
 9   ict_index          22560 non-null  float64
 10  selected           22560 non-null  int64
 11  transfers_balance  22560 non-null  int64
 12  total_points       22560 non-null  int64
 13  goals_scored       22560 non-null  int64
 14  assists            22560 non-null  int64
 15  clean_sheets       22560 non-null  int64
 16  goals_conceded     22560 non-null  int64
 17  influence          22560 non-null  float64
 18  creativity         22560 non-null  float64
 19  threat             22560 non-null  float64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.6+ MB

Nå er alle datasettene klare til å manipuleres. De heter

- season_2016_2017
- season_2017_2018
- season_2018_2019
- season_2019_2020

In [ ]:
#Check to validate that all seasons have same columns
print(season_2016_2017.columns == season_2017_2018.columns)
print(season_2017_2018.columns == season_2018_2019.columns)
print(season_2018_2019.columns == season_2019_2020.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True]

# Feature engineering v1(denne kan fjernes)

In [ ]:
# Regner ut og legger til fixture diff for alle linjer i en sesong.
def apply_fixture_diff(season, diff_lst):
  season["opponent_strength"] = 0
  season["team_strength"] = 0
  season
  for i in diff_lst:

    all_data_most_diff = season["opponent_team"].isin(i)
    season.loc[all_data_most_diff,"opponent_strength"] = diff_lst.index(i) +1 
    all_data_most_diff = season["team"].isin(i)
    season.loc[all_data_most_diff,"team_strength"] = diff_lst.index(i) +1 


  season["fixture_diff"] = (season["team_strength"] - season["opponent_strength"] + season["was_home"]*3)

In [ ]:
# Manuell liste av vanskelighetsgrad basert på tabellen, 2016/17.
most_diff_16_17 = [4, 17] # Chelsea, Spurs
second_diff_16_17 = [10, 9, 1, 11, 6] # City, Liverpool, Arsnenal, United, Everton
third_diff_16_17 = [13, 2, 19, 20, 8, 14, 5, 16, 3, 18] # Southampton, Bournemouth, West Bromwich, West Ham, Leicester, Stoke, Crystal P, Swansea, Burnley, Watford
last_diff_16_17 = [7, 12, 15] # Hull, Middlesbrough, Sunderland

diff_lst_16_17 = [last_diff_16_17, third_diff_16_17, second_diff_16_17, most_diff_16_17]

# Manuell liste av vanskelighetsgrad basert på tabellen, 2017/18.
most_diff_17_18 = [11, 12] # City, United
second_diff_17_18 = [17, 10, 5, 1, 4] # Spurs, Liverpool, Chelsea, Arsenal, Burnley
third_diff_17_18 = [7, 9, 13, 6, 2, 20, 18, 3] # Everton, Leicester, Newcastle, Crystal P, Bournemouth, West Ham, Watford, Brighton
last_diff_17_18 = [8, 14, 16, 15, 19] # Huddersfield, Southampton, Swansea, Stoke, West Bromwich

diff_lst_17_18 = [last_diff_17_18, third_diff_17_18, second_diff_17_18, most_diff_17_18]

# Manuell liste av vanskelighetsgrad basert på tabellen, 2018/19.
most_diff_18_19 = [12, 13] # Liverpool, City
second_diff_18_19 = [6, 17, 1, 14, 20, 8] # Chelsea, Spurs, Arsenal, United, Wolves, Everton
third_diff_18_19 = [11, 19, 18, 7, 15, 2] # Leicester, WestHam, Watford, Crystal, Newcastle, Bournemouth
last_diff_18_19 = [4, 16, 3, 5, 9, 10] # Burnley, Southampton, Brighton, Cardiff, Fulham, Huddersfield

diff_lst_18_19 = [last_diff_18_19, third_diff_18_19, second_diff_18_19, most_diff_18_19]

# Manuell liste av vanskelighetsgrad basert på tabellen, 2019/20.
most_diff_19_20 = [10,11] # Liverpool, City
second_diff_19_20 = [1,6,12,17,20,9] # Arsenal, Chelsea, ManUtd, Spurs, Wolves, Leicester
third_diff_19_20 = [15,5,16,8,13,7] # Sheffield, Burnley, Southampton, Everton, Newcastle, Crystal P
last_diff_19_20 = [4,19,2,3,18,14] # Brighton, WestHam, Aston V, Bournemouth, Watford, Norwich

diff_lst_19_20 = [last_diff_19_20, third_diff_19_20, second_diff_19_20, most_diff_19_20]

# Legg på fixture diff for alle sesongene:
apply_fixture_diff(season_2016_2017, diff_lst_16_17)
apply_fixture_diff(season_2017_2018, diff_lst_17_18)
apply_fixture_diff(season_2018_2019, diff_lst_18_19)
apply_fixture_diff(season_2019_2020, diff_lst_19_20)

In [ ]:
# Denne luringer legger inn WTP, WMP, WBPS, WICTI og WTB.

def variable_generator(season,var,player_id,gw):
  if gw<3:
    return 0
  player_data = season[season["player_id"] == player_id]
  if not (gw-3) in player_data["GW"].values:
    return 0
  if not (gw-1) in player_data["GW"].values:
    return 0
  if not (gw-2) in player_data["GW"].values:
    return 0

  last_match = player_data[player_data["GW"]== gw-1]
  second_last_match = player_data[player_data["GW"]== gw-2]
  third_last_match = player_data[player_data["GW"]== gw-3]
  if var == "WTP":
    attribute = "total_points"
  elif var == "WMP":
    attribute = "minutes"
  elif var == "WBPS":
    attribute = "bps"
  elif var == "WICTI":
    attribute = "ict_index"
  elif var == "WTB":
    attribute = "transfers_balance"
  elif var == "prev_selected":
    try:
      selected_last = last_match["selected"].astype(int)
      return int(selected_last)
    except:
      return 0
  try:
    points_last_match = (last_match[attribute]*3).astype(int)
    points_second_match = (second_last_match[attribute]*2).astype(int)
    points_third_match = (third_last_match[attribute]*1).astype(int)
    a = int(points_last_match) + int(points_second_match) + int(points_third_match)
  except: 
    return 0
  return a

In [ ]:
def apply_custom_features_one_season(season):  
  var_lst = ["WTP","WBPS","WMP","WICTI","WTB","prev_selected"]

  for j in range(3,38):
    print(j)
    GW_players = 0
    GW_players = season[season["GW"]==j]
    for v in var_lst:
      GW_players[v] = 0

    for i, row in GW_players.iterrows():
        index_of_id_col = GW_players.columns.get_loc("player_id")
        index_of_GW_col = GW_players.columns.get_loc("GW")
        player_id = GW_players.loc[i][index_of_id_col]
        player_GW = GW_players.loc[i][index_of_GW_col]

        for var in var_lst:
          a = variable_generator(season, var,player_id,player_GW)
          season.loc[i,var] = a

In [ ]:
def new_variable_generator(season,var,player_id,gw):
  if gw<3:
    return 0
  player_data = season[season["player_id"] == player_id]
  if not (gw-3) in player_data["GW"].values:
    return [0,0,0]
  if not (gw-2) in player_data["GW"].values:
    return [0,0,0]
  if not (gw-1) in player_data["GW"].values:
    return [0,0,0]

  last_match = player_data[player_data["GW"]== gw-1]
  second_last_match = player_data[player_data["GW"]== gw-2]
  third_last_match = player_data[player_data["GW"]== gw-3]
  if var == ["total_points_prev1","total_points_prev2","total_points_prev3"]:
    attribute = "total_points"
  elif var == ["minutes_prev1","minutes_prev2","minutes_prev3"]:
    attribute = "minutes"
  elif var == ["bps_prev1","bps_prev2","bps_prev3"]:
    attribute = "bps"
  elif var == ["ict_prev"]:
    attribute = "ict_index"
  elif var == ["WTB_prev1","WTB_prev2","WTB_prev3"]:
    attribute = "transfers_balance"
  elif var == ["prev_selected"]:
   # try:
      #selected_last = last_match["selected"].astype(int)
      #return selected_last
    ## return [0,0,0]
    attribute = "selected"
  try:
    points_last_match = (last_match[attribute]).astype(int)
    points_second_match = (second_last_match[attribute]).astype(int)
    points_third_match = (third_last_match[attribute]).astype(int)
  except: 
    return [0,0,0]
  try: 
    return [int(points_last_match),int(points_second_match),int(points_third_match)]
  except: 
    return [0,0,0]

In [ ]:
def apply_new_custom_features_one_season(season):  
  var_lst = [["total_points_prev1","total_points_prev2","total_points_prev3"], 
             ["bps_prev1","bps_prev2","bps_prev3"],
             ["minutes_prev1","minutes_prev2","minutes_prev3"],
             ["WTB_prev1","WTB_prev2","WTB_prev3"],
             ["prev_selected"],["ict_prev"]]

  for j in range(4,39):
    print(j)
    GW_players = 0
    GW_players = season[season["GW"]==j]
    for v in var_lst:
      GW_players[v] = 0

    for i, row in GW_players.iterrows():
        index_of_id_col = GW_players.columns.get_loc("player_id")
        index_of_GW_col = GW_players.columns.get_loc("GW")
        player_id = GW_players.loc[i][index_of_id_col]
        player_GW = GW_players.loc[i][index_of_GW_col]

        for var in var_lst:
          if len(var)>1:
            a = new_variable_generator(season, var,player_id,player_GW)
            var1 = str(var[0])
            var2 = str(var[1])
            var3 = str(var[2])
            season.loc[i,var1] = (a[0])
            season.loc[i,var2] = (a[1])
            season.loc[i,var3] = (a[2])
          else:
            a = new_variable_generator(season,var,player_id,player_GW)
            season.loc[i,var] = int(a[0])

In [ ]:
#apply_new_custom_features_one_season(season_2019_2020)

In [ ]:
season_2019_2020[season_2019_2020["name"]=='Raheem_Sterling_214']

                      name  position  ...  team_strength  fixture_diff
423    Raheem_Sterling_214         3  ...              4             3
952    Raheem_Sterling_214         3  ...              4             4
1481   Raheem_Sterling_214         3  ...              4             3
2013   Raheem_Sterling_214         3  ...              4             6
2550   Raheem_Sterling_214         3  ...              4             3
3091   Raheem_Sterling_214         3  ...              4             6
3637   Raheem_Sterling_214         3  ...              4             2
4188   Raheem_Sterling_214         3  ...              4             4
4742   Raheem_Sterling_214         3  ...              4             2
5298   Raheem_Sterling_214         3  ...              4             6
5854   Raheem_Sterling_214         3  ...              4             5
6412   Raheem_Sterling_214         3  ...              4             0
6972   Raheem_Sterling_214         3  ...              4             4
7536   Raheem_Sterling_214         3  ...              4             2
8101   Raheem_Sterling_214         3  ...              4             2
8627   Raheem_Sterling_214         3  ...              4             4
9083   Raheem_Sterling_214         3  ...              4             1
9754   Raheem_Sterling_214         3  ...              4             4
10322  Raheem_Sterling_214         3  ...              4             1
10906  Raheem_Sterling_214         3  ...              4             5
11492  Raheem_Sterling_214         3  ...              4             5
12083  Raheem_Sterling_214         3  ...              4             3
12627  Raheem_Sterling_214         3  ...              4             5
13368  Raheem_Sterling_214         3  ...              4             2
13995  Raheem_Sterling_214         3  ...              4             1
14131  Raheem_Sterling_214         3  ...              4             6
15242  Raheem_Sterling_214         3  ...              4             1
16239  Raheem_Sterling_214         3  ...              4             1
16240  Raheem_Sterling_214         3  ...              4             4
17172  Raheem_Sterling_214         3  ...              4             4
17173  Raheem_Sterling_214         3  ...              4             5
17835  Raheem_Sterling_214         3  ...              4             1
18483  Raheem_Sterling_214         3  ...              4             3
19134  Raheem_Sterling_214         3  ...              4             2
19787  Raheem_Sterling_214         3  ...              4             5
20441  Raheem_Sterling_214         3  ...              4             3
21101  Raheem_Sterling_214         3  ...              4             6
21766  Raheem_Sterling_214         3  ...              4             3
22432  Raheem_Sterling_214         3  ...              4             6

[39 rows x 23 columns]

In [ ]:
# Denne cellen tar sånn 20 min å kjøre
# Legg på features for alle sesonger.
#apply_new_custom_features_one_season(season_2016_2017)
#apply_new_custom_features_one_season(season_2017_2018)
#apply_new_custom_features_one_season(season_2018_2019)
#apply_new_custom_features_one_season(season_2019_2020)

In [ ]:
#all_seasons_new = pd.concat([season_2016_2017, season_2017_2018, season_2018_2019, season_2019_2020])

#all_seasons_new.to_csv('/content/fpl_data_new.csv')

#all_seasons_new.info()

In [ ]:
#all_seasons_new[all_seasons_new["GW"]>10].head()

In [ ]:
# Denne cellen tar sånn 20 min å kjøre
# Legg på features for alle sesonger.
#apply_custom_features_one_season(season_2016_2017)
#apply_custom_features_one_season(season_2017_2018)
#apply_custom_features_one_season(season_2018_2019)
#apply_custom_features_one_season(season_2019_2020)

In [ ]:
#display(season_2016_2017.sort_values("WICTI",ascending = False).head())
#display(season_2016_2017.info())

#display(season_2019_2020.head())

In [ ]:
# Slå sammen alle sesonger till ett stort datasett og lagre:

#all_seasons = pd.concat([season_2016_2017, season_2017_2018, season_2018_2019, season_2019_2020])

#all_seasons.to_csv('/content/fpl_data.csv')

# Feature engineering

In [ ]:
# Calculate the difficulty of a match based on the differene in strength of both teams and if the player is playing at home.

#Input dataframe season and list of teams strength
def apply_fixture_diff(season, diff_lst): 
  season["opponent_strength"] = 0
  season["team_strength"] = 0
  season
  for i in diff_lst:

    all_data_most_diff = season["opponent_team"].isin(i)
    season.loc[all_data_most_diff,"opponent_strength"] = diff_lst.index(i) +1 
    all_data_own_team = season["team"].isin(i)
    season.loc[all_data_own_team,"team_strength"] = diff_lst.index(i) +1 

  #Add the fixture difficulties to season dataframe
  season["fixture_diff"] = (season["team_strength"] - season["opponent_strength"] + season["was_home"]*2)

In [ ]:
# Manually divided final table into slots of team strength for 2016/17.
most_diff_16_17 = [4, 17] # Chelsea, Spurs
second_diff_16_17 = [10, 9, 1, 11, 6] # City, Liverpool, Arsnenal, United, Everton
third_diff_16_17 = [13, 2, 19, 20, 8, 14, 5, 16, 3, 18] # Southampton, Bournemouth, West Bromwich, West Ham, Leicester, Stoke, Crystal P, Swansea, Burnley, Watford
last_diff_16_17 = [7, 12, 15] # Hull, Middlesbrough, Sunderland

diff_lst_16_17 = [last_diff_16_17, third_diff_16_17, second_diff_16_17, most_diff_16_17]

# Manually divided final table into slots of team strength for 2017/18.
most_diff_17_18 = [11, 12] # City, United
second_diff_17_18 = [17, 10, 5, 1, 4] # Spurs, Liverpool, Chelsea, Arsenal, Burnley
third_diff_17_18 = [7, 9, 13, 6, 2, 20, 18, 3] # Everton, Leicester, Newcastle, Crystal P, Bournemouth, West Ham, Watford, Brighton
last_diff_17_18 = [8, 14, 16, 15, 19] # Huddersfield, Southampton, Swansea, Stoke, West Bromwich

diff_lst_17_18 = [last_diff_17_18, third_diff_17_18, second_diff_17_18, most_diff_17_18]

# Manually divided final table into slots of team strength for 2018/19.
most_diff_18_19 = [12, 13] # Liverpool, City
second_diff_18_19 = [6, 17, 1, 14, 20, 8] # Chelsea, Spurs, Arsenal, United, Wolves, Everton
third_diff_18_19 = [11, 19, 18, 7, 15, 2] # Leicester, WestHam, Watford, Crystal, Newcastle, Bournemouth
last_diff_18_19 = [4, 16, 3, 5, 9, 10] # Burnley, Southampton, Brighton, Cardiff, Fulham, Huddersfield

diff_lst_18_19 = [last_diff_18_19, third_diff_18_19, second_diff_18_19, most_diff_18_19]

# Manually divided final table into slots of team strength for 2019/20.
most_diff_19_20 = [10,11] # Liverpool, City
second_diff_19_20 = [1,6,12,17,20,9] # Arsenal, Chelsea, ManUtd, Spurs, Wolves, Leicester
third_diff_19_20 = [15,5,16,8,13,7] # Sheffield, Burnley, Southampton, Everton, Newcastle, Crystal P
last_diff_19_20 = [4,19,2,3,18,14] # Brighton, WestHam, Aston V, Bournemouth, Watford, Norwich

diff_lst_19_20 = [last_diff_19_20, third_diff_19_20, second_diff_19_20, most_diff_19_20]

# Apply fixture diff function for each season
apply_fixture_diff(season_2016_2017, diff_lst_16_17)
apply_fixture_diff(season_2017_2018, diff_lst_17_18)
apply_fixture_diff(season_2018_2019, diff_lst_18_19)
apply_fixture_diff(season_2019_2020, diff_lst_19_20)

In [ ]:
def variable_generator(season,var,player_id,gw):
  if gw<3:
    return [None,None,None]
  player_data = season[season["player_id"] == player_id]
  if not (gw-3) in player_data["GW"].values:
    return [None,None,None]
  if not (gw-2) in player_data["GW"].values:
    return [None,None,None]
  if not (gw-1) in player_data["GW"].values:
    return [None,None,None]

  last_match = player_data[player_data["GW"]== gw-1]
  second_last_match = player_data[player_data["GW"]== gw-2]
  third_last_match = player_data[player_data["GW"]== gw-3]
  if var == ["total_points_prev1","total_points_prev2","total_points_prev3"]:
    attribute = "total_points"
  elif var == ["minutes_prev1","minutes_prev2","minutes_prev3"]:
    attribute = "minutes"
  elif var == ["bps_prev1","bps_prev2","bps_prev3"]:
    attribute = "bps"
  elif var == ["ict_prev1","ict_prev2","ict_prev3"]:
    attribute = "ict_index"
  elif var == ["transfer_balance_prev1","transfer_balance_prev2","transfer_balance_prev3"]:
    attribute = "transfers_balance"
  elif var == ["goals_scored_prev1","goals_scored_prev2","goals_scored_prev3"]:
    attribute = "goals_scored"
  elif var == ["assists_prev1","assists_prev2","assists_prev3"]:
    attribute = "assists"
  elif var == ["goals_conceded_prev1","goals_conceded_prev2","goals_conceded_prev3"]:
    attribute = "goals_conceded"
  elif var ==  ["clean_sheets_prev1","clean_sheets_prev2","clean_sheets_prev3"]:
    attribute = "clean_sheets"
  elif var ==  ["creativity_prev1","creativity_prev2","creativity_prev3"]:
    attribute = "creativity"
  elif var ==  ["threat_prev1","threat_prev2","threat_prev3"]:
    attribute = "threat"
  elif var ==  ["influence_prev1","influence_prev2","influence_prev3"]:
    attribute = "influence"
  elif var == ["prev_selected"]:
   # try:
      #selected_last = last_match["selected"].astype(int)
      #return selected_last
    ## return [0,0,0]
    attribute = "selected"
  try:
    points_last_match = (last_match[attribute]).astype(int)
    points_second_match = (second_last_match[attribute]).astype(int)
    points_third_match = (third_last_match[attribute]).astype(int)
  except: 
    return [None,None,None]
  try: 
    return [int(points_last_match),int(points_second_match),int(points_third_match)]
  except: 
    return [None,None,None]

In [ ]:


def apply_custom_features_one_season(season):  
  var_lst = [["total_points_prev1","total_points_prev2","total_points_prev3"], 
             ["bps_prev1","bps_prev2","bps_prev3"],
             ["minutes_prev1","minutes_prev2","minutes_prev3"],
             ["transfer_balance_prev1","transfer_balance_prev2","transfer_balance_prev3"],
             ["prev_selected"],["ict_prev1","ict_prev2","ict_prev3"],
             ["goals_scored_prev1","goals_scored_prev2","goals_scored_prev3"],
             ["assists_prev1","assists_prev2","assists_prev3"],
             ["clean_sheets_prev1","clean_sheets_prev2","clean_sheets_prev3"],
              ["goals_conceded_prev1","goals_conceded_prev2","goals_conceded_prev3"],
              ["influence_prev1","influence_prev2","influence_prev3"],
              ["creativity_prev1","creativity_prev2","creativity_prev3"],
              ["threat_prev1","threat_prev2","threat_prev3"]
             ]

  for j in range(4,39):
    print(j)
    GW_players = 0
    GW_players = season[season["GW"]==j]
    for v in var_lst:
      GW_players[v] = 0

    for i, row in GW_players.iterrows():
        index_of_id_col = GW_players.columns.get_loc("player_id")
        index_of_GW_col = GW_players.columns.get_loc("GW")
        player_id = GW_players.loc[i][index_of_id_col]
        player_GW = GW_players.loc[i][index_of_GW_col]

        for var in var_lst:
          if len(var)>1:
            a = variable_generator(season, var,player_id,player_GW)
            var1 = str(var[0])
            var2 = str(var[1])
            var3 = str(var[2])
            season.loc[i,var1] = (a[0])
            season.loc[i,var2] = (a[1])
            season.loc[i,var3] = (a[2])
          else:
            a = variable_generator(season,var,player_id,player_GW)
            season.loc[i,var] = (a[0])

In [ ]:
#Applying feature engineering to dataframes for each season.
#This will take around 30 minutes to run.

apply_custom_features_one_season(season_2016_2017)
#apply_custom_features_one_season(season_2017_2018)
#apply_custom_features_one_season(season_2018_2019)
#apply_custom_features_one_season(season_2019_2020)

7

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

8

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

9

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

10

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

11

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

12

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

13

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

14

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

15

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

16

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

17

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

18

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

19

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

20

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

21

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

22

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

23

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

24

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

25

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

26

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

27

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

28

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

29

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

30

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

31

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

32

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

33

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

34

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

35

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

36

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

37

In [ ]:
#Create mastertable with all seasons.
all_seasons_new = pd.concat([season_2016_2017, season_2017_2018, season_2018_2019, season_2019_2020])

#Write table to file
#all_seasons_new.to_csv('/content/fpl_data.csv')

#Display summary of mastertable
all_seasons_new.info()

# Summary statistics and points distribution

In [ ]:
from matplotlib import pyplot as plt
#Load datafile if you have not generated the large file 
all_seasons_new = pd.read_csv("fpl_data.csv")

In [ ]:
#Select features used in training.
all_seasons_summary = all_seasons_new[["position","total_points_prev1","total_points_prev2","total_points_prev3", 
             "bps_prev1","bps_prev2","bps_prev3",
             "minutes_prev1","minutes_prev2","minutes_prev3",
             "transfer_balance_prev1","transfer_balance_prev2","transfer_balance_prev3","prev_selected"
             ,"ict_prev1","ict_prev2","ict_prev3","fixture_diff","goals_scored_prev1","goals_scored_prev2","goals_scored_prev3"
             ,"assists_prev1","assists_prev2","assists_prev3",
             "clean_sheets_prev1","clean_sheets_prev2","clean_sheets_prev3",
              "goals_conceded_prev1","goals_conceded_prev2","goals_conceded_prev3",
              "influence_prev1","influence_prev2","influence_prev3",
              "creativity_prev1","creativity_prev2","creativity_prev3",
              "threat_prev1","threat_prev2","threat_prev3"]]

In [ ]:
#Select players after GW3.
all_seasons_summary = all_seasons_new[all_seasons_new["GW"]>3]

all_seasons_summary = all_seasons_new[["total_points","total_points_prev1", 
             "bps_prev1",
             "minutes_prev1",
             "transfer_balance_prev1","prev_selected"
             ,"ict_prev1","fixture_diff","goals_scored_prev1",
             "assists_prev1",
             "clean_sheets_prev1",
              "goals_conceded_prev1",
              "influence_prev1",
              "creativity_prev1",
              "threat_prev1",]]

#Plot distribution of points.
fig = plt.figure()
all_seasons_summary["total_points"].value_counts().plot.bar()

plt.xlabel("Points")
plt.ylabel("Count")
plt.show()

In [ ]:
#Display summary statistics
a = all_seasons_summary.describe()
a[a.index.isin(['mean','min','max','25%','50%','75%','std'])]

In [ ]:
#Filter out interesting players who plays more than 45 minutes.
all_seasons_summary_filter = all_seasons[all_seasons["GW"]>3]
all_seasons_summary_filter = all_seasons_summary_filter[(all_seasons_summary_filter["minutes_prev1"]) +(all_seasons_summary_filter["minutes_prev2"])+ (all_seasons_summary_filter["minutes_prev3"]) >= 40 ]

all_seasons_summary_filter = all_seasons_summary_filter[["total_points","total_points_prev1", 
             "bps_prev1",
             "minutes_prev1",
             "transfer_balance_prev1","prev_selected"
             ,"ict_prev1","fixture_diff","goals_scored_prev1",
             "assists_prev1",
             "clean_sheets_prev1",
              "goals_conceded_prev1",
              "influence_prev1",
              "creativity_prev1",
              "threat_prev1"]]
#Plot points distribution
fig = plt.figure()
all_seasons_summary_filter["total_points"].value_counts().plot.bar()
plt.xlabel("Points")
plt.ylabel("Count")
plt.show()

In [ ]:
#Display summary statistics
b = all_seasons_summary_filter.describe()
b[b.index.isin(['mean','min','max','25%','50%','75%','std'])]